/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(34,33,32);
  font-family: 'Cedarville Cursive', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

li,h5 {
  color: #fff;
}

a {
  cursor: pointer;
}

nav{
  padding-top: 10px;
  margin-bottom: 10px;
}

nav .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

nav .stars li.item {
  list-style: none;
  display: inline-block;
  margin-right:50px;
  cursor: pointer;
  transition: .4s;
}

.item:hover{
  text-shadow: #FC0 1px 0 10px;
}

.item a{
  font-size: 20px;
}

.item img {
 margin-right: 2px;
}

#game-section{
  border: 2px solid #aaa;
  padding: 5px 25px;
}

.memory-game {
  width: 640px;
  height: 1080px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(199, 192, 192, 0.3);
}

.memory-card:hover{
  cursor: pointer;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.memory-card.lock{
  opacity: .2;
}

.memory-card.lock:hover{
  cursor: not-allowed;
}

.front-face, .back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background: #fff;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

p {
  display: none;
}

.memory-card.flip p{
  display: block;
  transform: rotateY(180deg);
  padding: 20px;
  font-size: 20px;
  color: #fff;
  overflow-wrap: break-word;
}

.message {
	position: fixed;
  background: rgba(178, 186, 206, 0.4);
  transition: opacity 400ms;
  visibility: hidden;
  opacity: 0;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.showup {
	margin: 170px auto;
	padding: 21px;
  background: rgb(253, 248, 240);
  color:rgb(32, 30, 30);
	border-radius: 6px;
	width: 50%;
	position: relative;
	font-family: 'Fascinate Inline', serif;
}

.showup h2 {
	font-family: 'Fascinate Inline', serif;
}

.showup .close {
	position: absolute;
	top: 21px;
	right: 32px;
	transition: all 200ms;
	font-size: 32px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.showup .congratulation, .stats {
	max-height: 50%;
	overflow: auto;
	text-align: center;
}

.show {
	visibility: visible;
	opacity: 100;
}

.message h2 {
  text-align: center;
  font-family: 'Fascinate Inline', serif;
}

#popup2 .showup{
  border: 2px solid rgb(133, 91, 53);
  padding-left: 20px;
}

#popup2 .showup span{
  display: block;
}

#popup2 .showup input{
  border:0;
  outline:0;
  color: rgb(190, 156, 92);
  background-color: transparent;
  border-bottom: 1px dotted rgb(51, 55, 70);
  width:350px;
  margin-top:10px;
}

.msg-btn{
  margin-top: 20px;
}

.msg-btn a{
  padding: 5px 10px;
  background-color: rgb(190, 156, 92);
  border-radius: 5px;
  color: #fff;
  margin-right:10px;
  transition: .3s;
}

.msg-btn a:hover{
  background-color: rgb(206, 168, 97);
}

.urushu1{
  position: absolute;
  width:300px;
  height:300px;
  top:-140px;
  right:0;
}

.urushu2{
  position: absolute;
  width:300px;
  height:300px;
  top:-100px;
  right:0;
}
